

:root{
  --correctColor: #248596
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

svg{
  width: 30%;
}

#body{
  /* display: none; */
}

section{
  margin: 1em auto;
}

.letters{
  /* width: 100vw; */
  display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 0.5em;
}

.letter{
  padding: 1em;
  border: 3px solid #000;
  /* margin: 0.5em; */
}

.secret{
  
  display: flex;
  justify-content: center;
  gap: 0.5em;
  /* flex-wrap:wrap ; */
font-size: 1.5rem;
}


.secretSpot{
  border-bottom: 2px solid #000;
  display: block;
  height: 1.2em;
  width: 2em;
}


.usedInCorrect{
  /* border: 3px solid #000; */
 /* background-color: red; */
 opacity: 0.3;

}


.usedCorrect{
    border: 3px solid var(--correctColor);
    color: var(--correctColor);

}